.bg {
    background: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
}
h1 {
    overflow: hidden;
    height: 18%;
    -webkit-animation: header-grow 2s;
    animation: header-grow 2s;
}
@-webkit-keyframes header-grow {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 18%;
    }
}
@keyframes header-grow {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 18%;
    }
}

.jumbotron div {
    width: 50%;
    height: 1px;
    background: white;
    display: block;
    -webkit-animation: line-grow 1s;
    animation: line-grow 1s;
}
@-webkit-keyframes line-grow {
    0% {
        width: 0;
    }
    20% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
@keyframes line-grow {
    0% {
        width: 0;
    }
    20% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
h3:after {
    content: '|';
    animation: cursor-blink .3s infinite alternate-reverse ease-in-out;
    font-size: 1.1em;
}
@keyframes cursor-blink {
    0% {opacity: 0}
    100% {opacity: 1}
}
